.donate-now{
    background-image: url(images/donation1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding-top: 50px;
        padding-bottom: 100px;
    
    

}
.anchor-button{
    text-decoration: none;
        background: linear-gradient(45deg, lightsalmon, tomato);
        padding: 10px 40px;
        border-radius: 5px;
        color: aliceblue;
        font-weight: 700;
}
.centralize{
    text-align: center;
}
.donate-today{
    color: black;
}
.block{
    display: inline-flex;
    font-weight: 700;
   
}
.common{
    background-color: antiquewhite;
    padding: 30px;
    margin: 10px;  
}
#taka{
    background-color: rgba(223, 36, 126, 0.544);
        padding: 30px;
        margin: 10px;
        border: 4px solid rgba(223, 36, 126, 0.544);
}
.inputtype{
    margin-bottom: 20px;
}
.icon{
    display:flex;
    /* box-shadow: 5px 7px 40px gray;
        height: 80%;
        padding-top: 30px; */
}
.iconfig{
    box-shadow: 5px 7px 40px gray;
        height: 80%;
        padding-top: 30px;
        margin: 2%;
        text-align: left;
        padding-left: 5px;

}
#ic11{
    background-color: antiquewhite;
}
#icshelter {
    background-color: lightcoral;
}
#ic6 {
    background-color: lightcyan;
}
footer{
    background-color: black;
    color: white;
    padding-top: 15px;
    padding-bottom: 10px;
}
#footer-text{
    color:lightcoral;
    font-family: 'Poppins', sans-serif;
    
}
.experience-area div {
    box-shadow: 5px 7px 40px gray;
    height: 80%;
}
#full-stack {
    border-left: 7px solid tomato;
}
h3{
    color: blueviolet;
}